/*------ fonts link part start -------*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
/*---------- fonts link part end  -----------*/
/*------ common css part start --------*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
:root {
  /*------ colors */
  --text-color: #42454a;
  /*--------- fonts name  */
  --ubuntu: "Ubuntu Condensed", sans-serif;
}
/*--------- common css part end --------*/

/*-------- navbar part start -------*/
.main-menu {
  padding-top: 26px;
  padding-bottom: 25px;
  border-bottom: 1px solid #eae8f3;
}
.main-menu ul {
  gap: 77px;
}
.main-menu ul li a {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--ubuntu);
  color: var(--text-color) !important;
}
.main-menu .menu-button {
  display: flex;
  gap: 24px;
}
.main-menu .menu-button a {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--ubuntu);
  color: #fff;
  background: var(--text-color);
  padding: 16px 26px;
  border-radius: 4px;
  transition: all linear 0.4s;
}
.main-menu .menu-button a:hover {
  background: #fff;
  color: var(--text-color);
  box-shadow: 0px 12px 25px -10px rgba(0, 0, 0, 0.75);
}
/*------ navbar part end --------*/
/*------- banner part start -------*/
#banner {
  padding-top: 84px;
}
.banner-text h1 {
  font-size: 90px;
  font-weight: 300;
  font-family: var(--ubuntu);
  color: var(--text-color);
}
/*-------- banner part end  ---------*/
